body .top-loading-bar {
  height: 3px;
}


.hero-arrow {
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.hero-arrow a i{
  font-size: 28px;
  color: #ffffff;
}

@-webkit-keyframes home-arrow-down {
  from {
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    -o-transform: translate3d(0, 0px, 0);
    -ms-transform: translate3d(0, 0px, 0);
    filter: alpha(opacity=0);
    -webkit-filter: alpha(opacity=0);
    opacity: 0;
  }
  10% {
    transform: translate3d(0, 5px, 0);
    -webkit-transform: translate3d(0, 5px, 0);
    -moz-transform: translate3d(0, 5px, 0);
    -o-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    filter: alpha(opacity=100);
    -webkit-filter: alpha(opacity=100);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 30px, 0);
    -webkit-transform: translate3d(0, 30px, 0);
    -moz-transform: translate3d(0, 30px, 0);
    -o-transform: translate3d(0, 30px, 0);
    -ms-transform: translate3d(0, 30px, 0);
    filter: alpha(opacity=0);
    -webkit-filter: alpha(opacity=0);
    opacity: 0;
  }
}

@keyframes home-arrow-down {
  from {
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    -o-transform: translate3d(0, 0px, 0);
    -ms-transform: translate3d(0, 0px, 0);
    filter: alpha(opacity=0);
    -webkit-filter: alpha(opacity=0);
    opacity: 0;
  }
  10% {
    transform: translate3d(0, 5px, 0);
    -webkit-transform: translate3d(0, 5px, 0);
    -moz-transform: translate3d(0, 5px, 0);
    -o-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    filter: alpha(opacity=100);
    -webkit-filter: alpha(opacity=100);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 30px, 0);
    -webkit-transform: translate3d(0, 30px, 0);
    -moz-transform: translate3d(0, 30px, 0);
    -o-transform: translate3d(0, 30px, 0);
    -ms-transform: translate3d(0, 30px, 0);
    filter: alpha(opacity=0);
    -webkit-filter: alpha(opacity=0);
    opacity: 0;
  }
}

.home-arrow-down {
  -moz-animation: home-arrow-down 2s infinite;
  -webkit-animation: home-arrow-down 2s infinite;
  animation: home-arrow-down 2s infinite;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.home-arrow-down:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}